.carousel {
  text-align: center;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  z-index: 0;
}

.carousel:hover {
  cursor: pointer;
}

.slider_image {
  max-height: 24rem;
}

.slider_image:hover {
  cursor: pointer;
}
