.footer_container {
  background-color: var(--background-color-two);
  color: var(--color-two);
  display: flex;
  /* padding: 8rem 4rem 1rem 2rem; */
  padding: 8rem 1rem 1rem 1rem;
  flex-wrap: wrap;
  justify-content: space-between;
}

.upper_content {
  display: flex;
  flex-wrap: wrap;
  column-gap: 1rem;
  font-size: 14px;
  font-weight: 500;
}

.social_logo {
  display: flex;
  column-gap: 5px;
}

.social_logo a {
  color: var(--standard-color);
}

.lower_content {
  font-size: 13px;
  width: 50vw;
  display: flex;
  flex-wrap: wrap;
}

.footer_content {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.social_content {
  font-size: 1rem;
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
  font-weight: 500;
  flex-wrap: wrap;
}

.social_upper_content {
  width: 8rem;
}

.twitter,
.linkedin {
  width: 1.5rem;
  height: 2rem;
  background-color: var(--background-color-one);
  padding: 5px;
  border-radius: 5px;
}

.twitter:hover,
.linkedin:hover {
  background-color: var(--highlighter-color);
}

@media screen and (max-width: 1350px) {
  .footer_container {
    flex-direction: column;
  }
}
